/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #F9E7D1, #F8CEEC); /* Sunset gradient with pinky purple hues */
    color: #333;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    position: relative;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Arial', sans-serif; /* Delicate and feminine font */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image {
    flex: 0 0 40%;
    max-width: 40%;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.text {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 40px;
    text-align: center; /* Center align text */
}

.text h1,
.text h2,
.text h3,
.text p {
    opacity: 0; /* Initially hide headings */
}

.text a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.text a:hover {
    color: #555;
}

.section {
    padding: 100px 0;
}

/* Fade in effect */
.fade-in {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer styles */
footer {
    background: transparent;
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Twinkling stars animation */
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
    animation: twinkling 2s infinite;
    opacity: 0.5; /* Stars are initially slightly transparent */
}

@keyframes twinkling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Adjust star positions */
.star:nth-child(1) { top: 10%; left: 5%; }
.star:nth-child(2) { top: 20%; left: 15%; }
.star:nth-child(3) { top: 30%; left: 25%; }
.star:nth-child(4) { top: 40%; left: 35%; }
.star:nth-child(5) { top: 50%; left: 45%; }
.star:nth-child(6) { top: 60%; left: 55%; }
.star:nth-child(7) { top: 70%; left: 65%; }
.star:nth-child(8) { top: 80%; left: 75%; }
.star:nth-child(9) { top: 90%; left: 85%; }
